<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomy Moly|Home</title>
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <header class="cabecera">
        <h1>TomyMoly</h1>
    </header>
    <nav>
        <P>Aqui va el menu</P>
    </nav>

    <section>
        <h2>Ofertas</h2>
        <section class="cArticulos">
            <article class="fArticulo">
                <div class="cImagen"><img src="images/cafetera.jpg" alt="Cafetera" class="product_img" height="100%">
                </div>
                <div>Nombre Producto</div>
                <div>Precio</div>
                <div>Descuento</div>
                <div>Agregar Carrito</div>
            </article>


            <article class="fArticulo">
                <div class="cImagen"><img src="images/cafetera.jpg" alt="Cafetera" class="product_img" height="100%">
                </div>
                <div>Nombre Producto</div>
                <div>Precio</div>
                <div>Descuento</div>
                <div>Agregar Carrito</div>
            </article>

            <article class="fArticulo">
                <div class="cImagen"><img src="images/licuadora.jpg" alt="Cafetera" class="product_img" width="100%">
                </div>
                <div>Nombre Producto</div>
                <div>Precio</div>
                <div>Descuento</div>
                <div>Agregar Carrito</div>
            </article>
            <article class="fArticulo">
                <div class="cImagen"><img src="images/tele.jpg" alt="Cafetera" class="product_img" width="100%"></div>
                <div>Nombre Producto</div>
                <div>Precio</div>
                <div>Descuento</div>
                <div>Agregar Carrito</div>
            </article>

        </section>
    </section>

    <section>
        <h2>Nuevos Productos</h2>
    </section>

    <section>
        <h2>Lo mas buscado</h2>
    </section>

    <section>
        <H2>Sucursales</H2>
    </section>

    <footer class="cFooter">
        <p>Este es el pie de pagina</p>
    </footer>

</body>

</html>