

<!DOCTYPE html>
<html>
  <head>
    <title><%= req.query.usuario%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> <%= req.query.usuario %></p>
    <p> <%= req.query.mail %></p>
    <p> <%= req.query.select %></p>
  </body>
</html>