<footer>
    <section class="redes-sociales">
        <div class="contenedor">
            <a class="facebook" href="#"> <i class="fab fa-facebook-square"></i></a>
            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </section>
</footer>


